.box{
    text-align: center;
    background: rgba(128, 128, 128, 0.507);
}


.box div{
    display: inline-block;
    font-size: 200px;
    line-height: 200px;
    height: 200px;
    background-color: rgba(128, 128, 128, 0.527);
    padding: 10px;
    margin: 4px; 
}

